.mycolor{
    background-color: #2471A3;
    color:white;    
}

.up {
    margin-top: 10%;
    /* margin-left: 2%; */
    /* margin-right: 2%;  */
}
.down{
    margin-top:8%;
}


.text-input {
    border-bottom: solid 1px wheat;
    border-top: none;
    border-left: none;
    border-right: none;    
}
input[type="text"]:focus{
   
    outline: none;

}

.tablebackgroundcolour{
    background-color: white;
}

.tablesize{
    height:400px;
    overflow: auto;
}

.tablesize2{
    height:280px;
    overflow: auto;
}